.tipo-badge {
  margin-left: 530px;
  margin-top: -200px;
  width: 300px;
}

.tipo-badge-aluno {
  margin-left: 45%;
  margin-top: -205px;
}

.tipo-badge-situacao-aprendizagem {
  margin-left: 62%;
  margin-top: -305px;
}

.tipo-badge-forum {
  margin-left: 80%;
  margin-top: -150px;
}