<div class="title">
  <h1>Cadastro de Badge</h1>
</div>

<mat-form-field class="nome-badge">
  <mat-label>Nome da Badge</mat-label>
  <input matInput />
</mat-form-field>
<div class="button-nome-badge">
  <button mat-raised-button color="primary">OK</button>
</div>

<mat-form-field class="descricao-badge">
  <mat-label>Descrição da Badge</mat-label>
  <input matInput />
</mat-form-field>
<div class="button-descricao-badge">
  <button mat-raised-button color="primary">OK</button>
</div>

<div class="image">
  <p class="text-image">Upload de Imagem</p>
</div>