<div class="title">
  <h1>Cadastro de Badge</h1>
</div>

<mat-form-field class="nome-badge">
  <mat-label>Nome da Badge</mat-label>
  <input matInput />
</mat-form-field>
<div class="button-nome-badge">
  <button mat-raised-button color="primary">OK</button>
</div>

<mat-form-field class="descricao-badge">
  <mat-label>Descrição da Badge</mat-label>
  <input matInput />
</mat-form-field>
<div class="button-descricao-badge">
  <button mat-raised-button color="primary">OK</button>
</div>

<div class="image">
  <p class="text-image">Upload de Imagem</p>
</div>

<div class="nivel-badge">
  <h3>Selecione o nível da Badge:</h3>
  <mat-selection-list #shoes>
    <mat-list-option *ngFor="let shoe of nivelbadge">
      {{ shoe }}
    </mat-list-option>
  </mat-selection-list>
</div>

<div class="tipo-badge">
  <h3>Selecione o tipo de Badge:</h3>
  <mat-selection-list #shoes>
    <mat-list-option *ngFor="let shoe of tipobadge">
      {{ shoe }}
    </mat-list-option>
  </mat-selection-list>
</div>

<div class="button-cadastrar-badge">
  <button mat-raised-button color="primary">Cadastrar</button>
</div>
